<div class="navbar navbar-expand-sm navbar-light navbar-ukt mb-4 sticky-top">
  <div class="container">
    <div class="col-3">
      <%= render_breadcrumbs :separator => ' < ' %>
    </div>
    <div class="navbar-title">
      UK Theatre: Project Management App
    </div>

    <div class="col-3 logo-links">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% end %>
      </ul>

      <%= link_to root_path, class: "navbar-brand ml-2" do %>
        <%= image_tag("TAALogo.png") %>
      <% end %>
    </div>
  </div>
</div>
